{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="static/css/pick-model.css">


<div class="data_part">
    
    <h1>Select Model to Evaluate</h1>

    <form action="/pick-model" method="post">
        <label for="model" class="model-label">Choose a model:</label> 
        <select name="model" id="model" class="model-select">
            <option value="linear-regression">Linear Regression</option>
            <option value="random-forest">Random Forest</option>
            <option value="support-vector-machine">Support Vector Machine</option>
            <option value="k-nearest-neighbors">K-Nearest Neighbors</option>
            <option value="decision-trees">Decision Trees</option>
            <!-- Add more options as needed -->
        </select><br><br>
        <button type="submit" class="pred-btn">Evaluate</button>
    </form>

    <div class="model-result">
        {% if evaluation_result %}
            <h3>Evaluation Result:</h3><br>
            <p>{{ evaluation_result }}</p>
        {% endif %}
    
    </div>
    
</div>

{% endblock %}