.contact-container {
    position: fixed; 
    top: 57%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 600px;
    margin: auto;
    padding: 50px;
    background: transparent;
    box-shadow: 0 0 10px white;
    border-radius: 15px;
    overflow: visible;
}

h2 {
    color: black;
    text-align: center;
}

.contact-form {
    margin-top: 100px;
    margin-top: 0px;
}

.contact-form label {
    display: block;
    /* margin-bottom: 5px; */
    font-weight: bold;
    color: black;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.contact-form button {
    display: block;
    width: 40%;
    padding: 0px;
    background: #857259;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
  
}

.contact-form button:hover {
    background: #3b6978;
}

.contact-info {
    margin-top: 0px;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    color: black;
    /* Removed fixed height to allow content to determine size */
}

.contact-info p {
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.contact-person-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
