h2 {
    text-align: center;
}
h1 {
    text-align: center;
    font-family: 'Sansita', sans-serif; /* Continues to use the Google Font */
    font-size: 25px; /* Reduced size for subtlety */
    font-weight: bold;
    color: #2c3e50; /* A dark, rich blue for elegance */
    margin-top: 40px; /* Less space at the top for a tighter look */
    padding: 5px 0; /* Less padding for a slimmer appearance */
    border-bottom: 2px solid #7f8c8d; /* A solid line under the text for a touch of style */
    width: max-content;
    margin-left: auto; /* Center align the h1 */
    margin-right: auto;
}

#edit_header {
    color: rgb(7, 7, 7);
}
#delete_header {
    color: rgb(10, 10, 10);
}
.thead-light  {
    background-color: white;
}
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }

body {
    padding-bottom: 60px; /* Adjust this value based on the height of your footer */
}
@media (max-width: 600px) {
    body {
        padding-bottom: 80px; /* More padding for smaller screens */
    }
}
