body {
    
  
    /* background: url("https://res.cloudinary.com/finnhvman/image/upload/v1541930411/pattern.png"); */
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    border-bottom-style: solid;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-top: 1px;
    
     
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color: black;
    float: left;
    font-weight: bold;
    font-size: medium;
    padding-top: 10px;
    /* border-bottom-style: solid; */
   
    
  }


  .topnav .loginlinks{
    
    padding-top: 12px;
    
  }

  /* humburg */

  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* icons style */

  .fa {
    padding: 1px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-registered {
    background:#0c0b0c;
    color: white;
    
  }
  .fa-sign-in {
    background: #00cc66;
    color: white;
  }