body {
  background-color: transparent;
  margin: 0;
  /* background-image: '/static/img/IMG_4613.jpg'; */
  
  font-family: Arial, sans-serif;
  /* padding-top: 30px;  */
}

/* CSS Styles */

.navbar {
  background-color: transparent;
  color: #000;
  width: 100%;
  font-weight: bold;
  
}

 .navbar-nav .nav-link {
  color: black !important;
  
}

.dropdown-menu .dropdown-item {
  color: black !important;
}
.navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
  color: gray !important; 
  
}
.main-content {
  margin-bottom: 50px; 
  padding: 20px;
}

/* Media queries for responsive design */
@media screen and (max-width: 1024px) {
  .main-content {
      padding: 15px; /* Slightly less padding for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .main-content {
      padding: 10px; /* Even less padding for mobile devices */
  }
}

@media screen and (max-width: 480px) {
  .main-content {
      padding: 5px; /* Minimal padding for very small devices */
  }
}

/* Styling for the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ede6dc;
  color: black;
  text-align: center;
  height: 50px;
  padding: 3px 0;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  footer {
      padding: 8px 0; /* Slightly reduce padding */
      height: auto; /* Allow the height to adjust */
  }

  footer p {
      font-size: 14px; /* Reduce font size for smaller screens */
      
  }
}

@media screen and (max-width: 480px) {
  footer p {
      font-size: 12px; /* Even smaller font size for very small devices */
  }
}


/* Styles for tables */
#prediction,
#iaq-table,
#weather-table,
#device-info-table {
  border-collapse: collapse;
  width: 78%; /* Original width for larger screens */
  margin: 20px auto;
  overflow-x: auto; /* Horizontal scrolling */
}

#prediction th, #prediction td,
#iaq-table th, #iaq-table td,
#weather-table th, #weather-table td,
#device-info-table th, #device-info-table td {
  border: 1px solid #ddd;
  padding: 0px; /* Original padding */
  white-space: nowrap; /* Keep data in single line */
  text-align: center;
  background: #ede6dc;
  font-size: 12px; /* Original font size */
}

#prediction th, #iaq-table th, #weather-table th, #device-info-table th {
  background-color: #333;
  color: white;
}

#prediction tr:nth-child(even),
#iaq-table tr:nth-child(even),
#weather-table tr:nth-child(even),
#device-info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Responsive styles for smaller screens (like tablets and mobile devices) */
@media screen and (max-width: 768px) {
  #prediction,
  #iaq-table,
  #weather-table,
  #device-info-table {
    width: 100%; /* Full width for smaller screens */
    overflow-x: scroll; /* Horizontal scrolling for smaller screens */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
    margin: 20px auto; /* Center the table */
    max-width: calc(100vw - 40px); /* Adjusted maximum width */
  }

  #prediction th, #prediction td,
  #iaq-table th, #iaq-table td,
  #weather-table th, #weather-table td,
  #device-info-table th, #device-info-table td {
    padding: 2px; /* Reduced padding for smaller screens */
    font-size: 10px; /* Smaller font size for better readability */
  }
}




.graph-container {
  width: 100%; /* Full width for fluid responsiveness */
  max-width: 1500px; /* Maximum width for larger screens */
  height: 350px; /* Fixed height */
  margin: auto; /* Centered horizontally */
}

#myChart, #iaqChart, #weatherChart {
  max-width: 100%; /* Ensure charts don't exceed container's width */
  max-height: 100%; /* Max height adjusted within each container */
}

/* Specific adjustments for 13-inch laptop screens */
@media screen and (min-width: 769px) and (max-width: 1366px) {
  .graph-container {
    width: calc(100% - 300px); /* Adjusting width considering sidebars */
    height: auto; /* Height adjusts to content */
    margin: 20px 150px; /* Centering the container with sidebars */
  }

  #myChart, #iaqChart, #weatherChart {
    max-height: 300px; /* Adjusted max height for a better fit */
    
  }
}

/* Adjustments for smaller screens like tablets and phones */
@media screen and (max-width: 768px) {
  .graph-container {
    height: auto; /* Auto-adjust height for smaller screens */
    margin: 20px; /* Adjusting margin for smaller screens */
  }

  #myChart, #iaqChart, #weatherChart {
    max-height: 250px; /* Adjusted max height for smaller devices */
  }
}
  



.status-on {
  color: green;
}
.status-off {
  color: red;
}

.device-status {
  font-weight: bold;
  margin-top: 30px;
  text-align: center;

}

.device-status-text {

  text-align: center;
  font-family: 'Sansita', sans-serif; /* Continues to use the Google Font */
  font-size: 22px; /* Reduced size for subtlety */
  font-weight: bold;
  color: #2c3e50; /* A dark, rich blue for elegance */
  margin-top: 45px; /* Less space at the top for a tighter look */
  padding: 5px 0; /* Less padding for a slimmer appearance */
  border-bottom: 2px solid #7f8c8d; /* A solid line under the text for a touch of style */
  width: max-content;
  margin-left: auto; /* Center align the h1 */
  margin-right: auto;
}

.device-threshold {

  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  
}

.device-stop-btn {
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  font-size: 16px; /* Adjust the font size as needed */
  border-radius: 10px;
  width: 150px; /* Adjust the width of the button */
  height: 40px; /* Adjust the height of the button */
  line-height: 34px; /* Align the text vertically in the middle */
  display: block; /* Ensure the button occupies its own line */
  margin: 0 auto; /* Center the button horizontally */
  

}

.flex-container {
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  gap: 20px; /* Space between the two elements */

  /* Optional: if you want the container itself to be centered in the parent */
  margin: 0 auto;
}

.tapo-smart-image, .tapo-smart-info {
  
  border: 2px solid #000;
  padding: 5px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  overflow: hidden;
  height: 215px;
  width: 200px;
}

.tapo-smart-image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* Media query for laptop screens */
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .tapo-smart-image {
    width: 150px; /* Further reduced width for laptop screens */
    height: 160px; /* Adjust the height to maintain a visually appealing aspect ratio */
  }

  .tapo-smart-image img {
    max-width: 100%; /* Image will fill the container width */
    max-height: 100%; /* Image will fill the container height */
    height: auto; /* Height will adjust while maintaining aspect ratio */
    width: auto; /* Width will adjust to maintain aspect ratio */
  }
}



/* Style for the pagination navigation */
.pagination {
    display: flex;
    justify-content: center; /* Center the pagination horizontally */
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 20px 0; /* Add some margin at the top and bottom */
}

.pagination li {
    margin: 0 5px; /* Spacing between page items */
}

.pagination .page-item {
    display: inline; /* Display page items inline */
}

.pagination .page-link {
    text-decoration: none; /* Remove underline from links */
    padding: 8px 15px; /* Padding inside page items */
    border: 1px solid #ddd; /* Border for page items */
    color: #857259; /* Text color for page items */
    border-radius: 5px; /* Rounded corners */
}

.pagination .active .page-link {
    background-color: #857259; /* Background color for active page */
    color: white; /* Text color for active page */
    border-color: #857259; /* Border color for active page */
}

.pagination .page-link:hover {
    background-color: #ddd; /* Background color on hover */
}

/* Style for the top bar */
.top-bar {
  display: flex;
  justify-content: flex-end; /* Aligns children to the end (right side) */
  align-items: center; /* Aligns children vertically in the center */
  padding: 10px;
}

/* Style for the search form container */
.search-container {
  margin-right: 150px;
  /* Optional: additional styles if needed */
}

/* Style for the search form */
.search-container form {
  display: flex;
  align-items: center;
}

/* Style for the search input field */
.search-container input[type="text"] {
  margin-right: 10px; /* Space between input and button */
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Style for the search button */
.search-container button {
  padding: 5px 10px;
  border: 1px solid #857259;
  background-color: #857259;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #ede6dc; /* Darker color on hover */
}

.project-title {
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.flex-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 200px; /* Set a height for the container */
  margin-top: 40px;
}

.sensor_img {
  width: 350px;      /* Example fixed width */
  height: auto;      /* Maintain aspect ratio */
}

#chart {
  width: 500px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  border: 1px solid #ddd; /* Border to visualize the SVG area */
}

.circle {
  stroke-width: 1;
  stroke: black; /* Stroke to make circles more visible */
}
